header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(29, 29, 29);
}

ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    
}

li {
    display:inline-block;
}

li a {
    text-decoration: none;
}

.nav-imgs {
    filter: brightness(100%) saturate(0%) grayscale(100%) invert(100%);
    padding: 10px;
    width: 5%;
    height: 5%;
}
